



        <!-- Main Content -->
        <div id="Content">
            <div class="content_wrapper clearfix">
                <div class="sections_group">
                    <div class="entry-content">
                        <div class="section" style="padding-top:60px; padding-bottom:10px; background-color:#F4F4F4">
                            <div class="section_wrapper clearfix">
                                <div class="items_group clearfix">
                                    <!-- One full width row-->
                                    <div class="column one column_column">
                                        <div class="column_attr align_center">
                                            <h3>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. ellentesque facilisis.</h3>
                                            <hr class="no_line hrmargin_b_30" />
                                            <a class="content_link " href="#"><span class="icon"><i class="icon-picture"></i></span><span class="title">Vitae adipiscing</span></a><a class="content_link " href="#"><span class="icon"><i class="icon-calendar"></i></span><span class="title">Quisque lorem</span></a><a class="content_link " href="#"><span class="icon"><i class="icon-users"></i></span><span class="title">Fusce velit</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section sections_style_2">
                            <div class="section_wrapper clearfix">
                                <div class="items_group clearfix">
                                    <!-- One Third (1/3) Column -->
                                    <div class="column one-third column_image">
                                        <div class="image_frame no_link scale-with-grid aligncenter no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="images/home_university_about_photo.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Two Third (2/3) Column -->
                                    <div class="column two-third column_column">
                                        <div class="column_attr ">
                                            <!-- One Second (1/2) Column -->
                                            <div class="column one-second">
                                                <h2>How we do it?</h2>
                                                <p class="big">
                                                    Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna.
                                                </p>
                                                <p>
                                                    Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus.
                                                </p>
                                            </div>
                                            <!-- One Second (1/2) Column -->
                                            <div class="column one-second">
                                                <ul style="padding-top: 50px;" class="list_check">
                                                    <li>
                                                        We sell all over the world.
                                                    </li>
                                                    <li>
                                                        Satisfaction or money refund guaranteed.
                                                    </li>
                                                    <li>
                                                        Lifetime updates &amp; support.
                                                    </li>
                                                    <li>
                                                        24 hours shipping.
                                                    </li>
                                                    <li>
                                                        We provide best tools ever.
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="column one">
                                                <h2>Why we do it?</h2>
                                                <p class="big">
                                                    Sed non neque elit. Sed ut imperdiet nisi. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                                                </p>
                                                <p>
                                                    Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.
                                                </p>
                                                <div class="flv_align_right">
                                                    <img alt="" src="images/home_business_signature.png">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section" style="padding-top:60px; padding-bottom:20px; background-color:#edeff2">
                            <div class="section_wrapper clearfix">
                                <div class="items_group clearfix">
                                    <!-- One Fourth (1/4) Column -->
                                    <div class="column one-fourth column_quick_fact">
                                        <!-- Counter area-->
                                        <div class="quick_fact animate-math">
                                            <div class="number" data-to="35">
                                                35
                                            </div>
                                            <h3 class="title">countries</h3>
                                            <hr class="hr_narrow" />
                                            <div class="desc">
                                                Donec vestibulum justo a diam ultricies pel lentesque. Quisque mattis diam vel lac.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- One Fourth (1/4) Column -->
                                    <div class="column one-fourth column_quick_fact">
                                        <!-- Counter area-->
                                        <div class="quick_fact animate-math">
                                            <div class="number" data-to="1250">
                                                1250
                                            </div>
                                            <h3 class="title">articles</h3>
                                            <hr class="hr_narrow" />
                                            <div class="desc">
                                                Donec vestibulum justo a diam ultricies pel lentesque. Quisque mattis diam vel lac.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- One Fourth (1/4) Column -->
                                    <div class="column one-fourth column_quick_fact">
                                        <!-- Counter area-->
                                        <div class="quick_fact animate-math">
                                            <div class="number" data-to="89">
                                                89
                                            </div>
                                            <h3 class="title">projects</h3>
                                            <hr class="hr_narrow" />
                                            <div class="desc">
                                                Donec vestibulum justo a diam ultricies pel lentesque. Quisque mattis diam vel lac.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- One Fourth (1/4) Column -->
                                    <div class="column one-fourth column_quick_fact">
                                        <!-- Counter area-->
                                        <div class="quick_fact animate-math">
                                            <div class="number" data-to="9">
                                                9
                                            </div>
                                            <h3 class="title">years of experience</h3>
                                            <hr class="hr_narrow" />
                                            <div class="desc">
                                                Donec vestibulum justo a diam ultricies pel lentesque. Quisque mattis diam vel lac.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section sections_style_2">
                            <div class="section_wrapper clearfix">
                                <div class="items_group clearfix">
                                    <!-- One full width row-->
                                    <div class="column one column_fancy_heading">
                                        <div class="fancy_heading fancy_heading_icon">
                                            <h2 class="title">How we got started</h2>
                                        </div>
                                    </div>
                                    <!-- One full width row-->
                                    <div class="column one column_column">
                                        <div class="column_attr align_center">
                                            <div style="margin: 0 15%;">
                                                <h4>Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integer aliquam purus. Quisque lorem tortor fringilla sed.</h4>
                                                <p>
                                                    Quisque lorem tortor fringilla sed, vestibulum id, eleifend justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis, varius in, purus. Integer ultrices posuere cubilia Curae, Nulla ipsum dolor lacus, suscipit adipiscing. Cum sociis natoque penatibus et ultrices volutpat. Nullam wisi ultricies a, gravida vitae, dapibus risus ante sodales lectus blandit eu, tempor diam pede cursus vitae, ultricies eu, faucibus quis, porttitor eros cursus lectus, pellentesque eget, bibendum a, gravida ullamcorper quam. Nullam viverra consectetuer.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section" style="padding-top:60px; padding-bottom:20px; background-color:#edeff2">
                            <div class="section_wrapper clearfix">
                                <div class="items_group clearfix">
                                    <!-- One full width row-->
                                    <div class="column one column_column">
                                        <div class="column_attr align_center">
                                            <h2 class="hrmargin_0">Stay in touch with us</h2>
                                        </div>
                                    </div>
                                    <!-- One Third (1/3) Column -->
                                    <div class="column one-third column_list">
                                        <div class="list_item lists_2 clearfix">
                                            <div class="list_left list_icon">
                                                <i class="icon-mail-line"></i>
                                            </div>
                                            <div class="list_right">
                                                <div class="desc">
                                                    <span class="flv_span_12px">Have any questions?</span>
                                                    <h4><a href="mailto:noreply@envato.com">noreply@envato.com</a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- One Third (1/3) Column -->
                                    <div class="column one-third column_list">
                                        <div class="list_item lists_2 clearfix">
                                            <div class="list_left list_icon">
                                                <i class="icon-comment-line"></i>
                                            </div>
                                            <div class="list_right">
                                                <div class="desc">
                                                    <span class="flv_span_12px">Call us</span>
                                                    <h4><a href="#">+61 (0) 3 8376 6284</a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- One Third (1/3) Column -->
                                    <div class="column one-third column_list">
                                        <div class="list_item lists_2 clearfix">
                                            <a href="#">
                                                <div class="list_left list_icon">
                                                    <i class="icon-doc-line"></i>
                                                </div>
                                                <div class="list_right">
                                                    <div class="desc">
                                                        <span class="flv_span_12px">Fax</span>
                                                        <h4><a href="#">+61 (0) 3 8376 6284</a></h4>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section the_content">
                            <div class="section_wrapper">
                                <div class="the_content_wrapper"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
